<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head.ejs') %>

<link rel="stylesheet" type="text/css" href="../css/estilo.css"></link>

<body class="body w3-light-grey w3-content" style="max-width:1400px">

<!-- Inicio do Cabeçalho -->
  <header>
    <nav class="navbar navbar-expand-sm navbar-light" 
        style="background-color: #660066">
      <div class="container">
        <a href="" class="../css/estilo.css">
          <img src="img/logo.png" style="margin-top: -40px; margin-left:-70px; margin-bottom:-40px" width="36%"></img> <!-- Logo -->
        </a>
      <h1 class="w3.center w3-text-white w3-cursive">Fantasy Whisper</h1>
        <div style="position: top">
          
        </div>
        <div class="collapse navbar-collapse" id="nav-principal">
          <ul class="navbar-nav ml-auto" style="padding: 10px">
            <li class="nav-item">
              <a href="../home" class="btn btn-outline-light ml-4">SAIR</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
<!--/Fim do Cabeçalho -->

<!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-center" style="z-index:3;width:300px;" id="mySidebar"><br>
      <div class="w3-container w3-center">
          <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
          <i class="fa fa-remove"></i>
          </a>
          <img src="../img/anime03.png " style="width: 100%;" class="w3-round w3-round-xxlarge"></img><br><br>
          <h4><b>Fantasy Whisper Team</b></h4>
          <p class="w3-text-grey">Um pouco sobre nós...</p>
      </div>

      <div class="w3-bar-block w3-padding-32 w3-center">
          <a href="/historias/novo" 
          onclick="w3_close()" 
          class="w3-bar-item w3-button w3-padding w3-text-teal">
          <i class="fa fa-book fa-fw w3-margin-right">
          </i>Adicionar História
          </a> 

          <a href="autores" 
          onclick="w3_close()" 
          class="w3-bar-item w3-button w3-padding">
          <i class="fa fa-user fa-fw w3-margin-right">
          </i>Adicionar Autor
          </a> 

          <a href="generos" 
          onclick="w3_close()" 
          class="w3-bar-item w3-button w3-padding">
          <i class="fa fa-check fa-fw w3-margin-right">
          </i>Adicionar Genero
          </a>

          <a href="usuarios" 
          onclick="w3_close()" 
          class="w3-bar-item w3-button w3-padding">
          <i class="fa fa-users fa-fw w3-margin-right">
          </i>Lista de Usuários
          </a>

          <a href="#about" 
          onclick="w3_close()" 
          class="w3-bar-item w3-button w3-padding">
          <i class="fa fa-comments fa-fw w3-margin-right">
          </i>Sobre nós
          </a>
      </div>

      <div class="w3-panel w3-large w3-center">
          <i class="fa fa-facebook-official w3-hover-opacity"></i>
          <i class="fa fa-instagram w3-hover-opacity"></i>
          <i class="fa fa-pinterest-p w3-hover-opacity"></i>
          <i class="fa fa-twitter w3-hover-opacity"></i>
          <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
    </nav>

<!-- Efeito de sobreposição ao abrir a barra lateral em telas pequenas -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
     

<!-- Header -->
  <header id="portfolio">
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-gray" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="container w3-center " >
      <h1 ><b class="w3-text-white w3-cursive"> Minhas histórias </b></h1>
      <div class="w3-section w3-bottombar w3-padding-16"></div>
    </div>
  </header>
  
  <!-- First Photo Grid-->
  <br></br>
  <div class=" w3-row-padding">
      <div class="w3-card-4 w3-light-grey">
        <div class="card-body">
          <ul class="w3-ul w3-large" style="width:100%">
          <li class="w3-section w3-bottombar w3-padding-16"></li>
          <% historias.forEach(function(historia) { %>
          <li>Titulo: <%= historia.titulo %></li>
          <li>Capitulo: <%= historia.capitulo %></li>
          <li><%= historia.conteudo %></li>
          <a href="/historias/<%= historia.id %>" class="btn btn-primary w3-round-xxlarge">Editar</a> 
          <a href="/historias/delete/<%= historia.id %>" class="btn btn-danger w3-round-xxlarge">Excluir</a><br></br><br></br>
          <% }); %>
          <li class="w3-section w3-bottombar w3-padding-16"></li>
          </ul>
        </div>
      </div>
  </div>
 
<br></br>
<h1 class="w3-text-white w3-center w3-cursive">As mais populares!</h1><br></br>
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom" >
      <img src="img\spy family.jpeg" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity w3-round-xlarge"></img>
      <div class="w3-container w3-white">
        <p><b>SPY X FAMILY</b></p>
        <p>O espião mestre Twilight é encarregado de realizar a Operação Strix para manter a paz entre os dois países de Westalis e Ostania. Com sua nova identidade de psiquiatra Loid Forger, ele começa montando uma nova família com sua filha adotiva, Anya Forger, e esposa falsa, Yor Briar. Sem o conhecimento dele, sua nova filha e esposa também têm seus próprios segredos.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="img\Mashle.jpeg" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity w3-round-xlarge"></img>
      <div class="w3-container w3-white">
        <p><b>Mashle</b></p>
        <p>Este é um mundo de magia onde a magia é usada para tudo. Mas em uma certa floresta existe um jovem que passa seu tempo treinando e se fortalecendo. Ele não pode usar magia, mas desfruta de uma vida pacífica com o pai. Mas um dia, sua vida está entra perigo! Seu corpo musculoso irá protegê-lo dos usuários mágicos que querem pegá-lo? Músculos poderosos e treinados esmagam a magia no começou dessa fantasia mágica anormal.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="img\The Beloved Little Princess.jpeg" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity w3-round-xlarge"></img>
      <div class="w3-container w3-white">
        <p><b>The Beloved Little Princess</b></p>
        <p>O nascimento da princesa Enisha marca o início do reinado profético do Império Hyperion. Com seu rosto incrivelmente fofo e um suprimento incessante de servos leais, a vida é ótima para a princesa bebê. Há apenas o pequeno problema de seus dois irmãos assassinos psicóticos e um pai faminto de guerra que ela deve impedir de levar o império à ruína.</p>
      </div>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="img\blue exorcist.jpeg" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity w3-round-xlarge"></img>
      <div class="w3-container w3-white">
        <p><b>Blue Exorcist</b></p>
        <p>Criado pelo padre Fujimoto, um famoso exorcista, Rin Okumura nunca conheceu seu verdadeiro pai. Um dia, uma discussão fatídica com o padre Fujimoto força Rin a enfrentar uma terrível verdade - o sangue do senhor demônio Satanás corre nas veias de Rin! Rin jura derrotar Satan, mas fazer isso significa entrar na misteriosa True Cross Academy e se tornar um exorcista. </p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="img\Yu-Gi-Oh!.jpeg" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity w3-round-xlarge"></img>
      <div class="w3-container w3-white">
        <p><b>Yu-Gi-Oh!</b></p>
        <p>Yugi, aluno da 10ª série, passava a maior parte do tempo sozinho jogando - até resolver o Enigma do Milênio, um misterioso artefato egípcio! Possuído pelo quebra-cabeça, Yugi se torna Yu-Gi-Oh, o Rei dos Jogos, e desafia os malfeitores para os Jogos das Sombras! Essas histórias em quadrinhos contêm novas histórias não vistas no anime, incluindo a origem de Yugi e seus amigos!</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="img\Ansatsu Kyoushitsu.jpeg" alt="Norway" style="width:100%; height:100%" class="w3-hover-opacity w3-round-xlarge"></img>
      <div class="w3-container w3-white">
        <p><b>Assassination Classroom</b></p>
        <p>A Classe 3-E da escola Kunugigaoka é apresentada a uma figura bem estranha. Acontece que ele é um monstro polvo e a partir de hoje será o novo professor deles! Pra piorar, esse tal monstro foi o responsável por destruir boa parte da lua e pretende fazer o mesmo com o planeta Terra daqui há um ano, mas antes ele irá treinar todos os alunos para uma missão bem peculiar: ensinar eles a matá-lo em menos de um ano, antes que ele cometa tal ato.</p>
      </div>
    </div>
  </div>

  <!-- Paginas -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <!-- Minhas Imagens -->
  <div class="w3-row-padding w3-padding-16" id="about">
    <div class="w3-col m4 ">
      <img src="img\carla5.jpg" alt="Me" style="width:101%" class="w3-round-xlarge"></img>
    </div>
    <div class="w3-col m4">
      <img src="img\Furina2.jpeg" alt="Me" style="width:99%" class="w3-round-xlarge"></img>
    </div>
    <div class="w3-col m4">
      <img src="img\leo-fox2.jpg" alt="Me" style="width:99%" class="w3-round-xlarge"></img>
    </div>
  </div>

  <div class="w3-container w3-padding-large w3-light-grey" style="margin-bottom:20px">
    <h3 class="w3-center"><b>Sobre nós</b></h3>
    <p><b>Carla Oliveira</b>
      <br>
        A mente criativa por trás do design envolvente do nosso site. 
        Trouxe sua paixão pela estética e usabilidade para garantir uma experiência única para nossos visitantes.
      </br><br></br>
        <b>Chien Yi Shin</b>
      <br>
        Com sua expertise técnica afiada, desempenhou um papel fundamental na implementação e manutenção contínua do nosso site. 
        Sua dedicação à qualidade técnica garante um funcionamento suave e eficiente.
      </br><br></br>
      <b>Leonardo Bargeri</b>
      <br>
        Contribuiu com sua visão estratégica para a concepção e desenvolvimento do nosso site. 
        Sua abordagem inovadora e orientação valiosa foram essenciais para moldar a identidade e a funcionalidade do projeto.
      </br>
      <br></br>
        Juntos formamos uma equipe dinâmica que uniu forças para a criação do site Fantasy Whisper. 
      <br>Agradecemos ao nosso Professor Marcos Nava por nos orientar nesse caminho cheio de aprendizado.</br>
    </p>
    
  </div> 
<!-- End page content -->

<footer style="background-color: #660066">
    <div class="w3-container w3-padding-16 w3-center">
      <div class="row">
        <div class="col-md-12 ">
          <p>
            <a class="w3-hover-opacity w3-center w3-text-white">  &copy; Created by Carla Oliveira, Chien Yi Shin & Leonardo Bargeri (With initial project by Professor Marcos Nava)</a>
          </p>
        </div>
        <div class="col-md-7 d-flex justify-content-end ">
        </div>
      </div>
    </div>
  </footer>

</body>
</html>